
*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box
    
}




/*
body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 5%, rgba(31,7,52,1) 23%, rgba(106,42,154,1) 39%, rgba(122,54,172,1) 45%, rgba(118,47,166,1) 58%, rgba(100,33,144,1) 70%, rgba(79,19,101,1) 86%, rgba(45,8,57,1) 95%, rgba(0,0,0,1) 98%);
    
}


*{
    border-width: 1px;
    border-color: rgb(245, 240, 240);
    border-style: solid;
    
}
*/
body{
    background: #121212;
    
}
/*
.bg-grad{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(78,33,97,1) 29%, rgba(87,37,108,1) 43%, rgba(83,38,102,1) 52%, rgba(67,30,83,1) 59%, rgba(61,29,75,1) 67%, rgba(40,21,48,1) 74%, rgba(10,10,10,1) 100%);
}
*/

.bg-grad{
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);

}


/*========================NAVBAR============================*/
.navbar-custom{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);

}

.navbar-custom navbar-text{
    color:  #232324;
}
.navbar-custom button{
    color:  #232324;
}

.navbar-custom a{
    color: #232324;
}
.navbar-toggler{
    background: none;
    
}
.navbar-toggler-icon{
    color: #232324;
    
    
}

 @media(max-width:720px) {
    .navbar-toggler{
        float: right;
        position: absolute;
        right: 3%;
        top: 7%;
    }
 }

#navbarcat{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    border-radius: 30px;
}

/*===============================FIN NAVBAR===========================*/

div.c-wrapper{
    width: 80%;
    margin: auto;
}

div.primeritem{
    margin-top: 10%;
    padding-top: 12%;
}
/*===============================CARRUSEL===============================*/
.carousel-full{
    width: 100%;
    height:400px;

}
.carousel-full img{
    width: 100%;
    height: 400px;
}

.cardscar{
    margin: 0;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    
    padding-top: 15px;
    padding-left: 0;
    
}

.cardscar .card{
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);*/
    color: #232324;
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
}

.cardscar p{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 400;
}
.cardscar a{
    background-color: #304352 ;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 25px;
    color : #d7d2cc;
    text-decoration: none;
}

.cardscar a:hover{
    background-color:  #d7d2cc ;
    color :  #304352;
}
@media(max-width:767px){
    .cardscar{
        display: none;
    }
}

#h1car{
    color: #485563;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
/*===============================FIN CARRUSEL===========================*/

/* ============================SECCION DESTACADOS Y CARDS================================== */

.cardssec{
    padding: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.cardssec h1{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #485563;
    padding-bottom: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cardssec .card{    
    margin: 20px 10px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: whitesmoke;
}
.cardssec .body{
   background: none;
   outline: none;
}

.cardssec .card-body a{
    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 300;
}


#h1cat{
    text-align: center;
}


/* ============================FIN SECCION DESTACADOS================================== */


/* ============================Estilos para formularios de log y sign in================================== */
.logcontenedor{
    width: 100%;
    padding: 15px;
    

}

.logform{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    

    margin-top: 0px;
    padding: 3px;
    border-radius: 20px;
    height: 500px;
    
}

.logform h2{
    text-align: center;
    color:  #dcdddf;
}

.logcontenedor input[type="text"], .logcontenedor input[ type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    background: none;
    color:   #dcdddf;
    
    
}

.logcontenedor input[type="text"]::placeholder, .logcontenedor input[ type="password"]::placeholder{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    background: none;
    color:   #dcdddf;
    
}

.logcontenedor input[type="text"]:focus , .logcontenedor input[ type="password"]:focus{
    outline: none;

}
.input-contenedor{
    margin-bottom: 10px;
    border: 1px solid  #dcdddf;
}
.logicon{
    min-width: 50px;
    text-align: center;
    color:#dcdddf;
}

.logbutton{
    border: none;
    width: 100%;
    color: rgb(223, 221, 221);
    font-size: 20px;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logbutton:hover{
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}

.logform p{
    text-align: center;
    margin-top: 5px;
    color:  rgb(223, 221, 221);
}
.logform a{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
    color: rgb(223, 221, 221);
}
.logform a:hover{
    color: cadetblue;
}

.logform{
    height: 100%;
}
@media(min-width:768px){
    .logform{
        margin: auto;
        width: 500px;
        margin-top: 8%;
        margin-bottom: 200px;
    }
}

/* ============================FIN Estilos para formularios de log y sign in================================== */


/* ============================TABLA ESTANDAR PARA CATALOGO Y CARRITOS================================== */
.tablaestandar .table{
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
}
.tablaestandar{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: whitesmoke;
}
.tablaestandar p{
    color: whitesmoke;
}
.tablaestandar i{
    color: whitesmoke;
}
.tablaestandar .table thead tr th{
    background: #3e4a57;
    border-top:0px;
    font-size:16px;
    font-weight: bold;
    border-bottom:0px;
}
.tablaestandar .table thead tr td{
    padding-top:30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}
.tablaestandar .table tbody tr td .main .d-flex{
    padding-right:30px;
}
.tablaestandar .table tbody tr td .main .d-flex img{
    border: 2px solid #000;
    border-radius: 3px;
}
.tablaestandar .table tbody tr td .main .des{
    vertical-align: middle;
    align-self: center;
}
.tablaestandar .table tbody tr td .main .des p{
    margin-bottom:0px;
}
.tablaestandar .table tbody tr td h6{
    font-size:16px;
    color:whitesmoke;
    margin-bottom: 0px;
}
.tablaestandar .table tbody tr td .counter{
    margin-bottom:0px;
}
.tablaestandar i{
    border: 1px solid whitesmoke;
    padding: 7px;
    display: inline-block;
    position: relative;
}
.tablaestandar .table tbody tr td .counter input{
    width: 100px;
    padding-left:30px;
    height: 40px;
    outline:none;
    box-shadow: none;

}

.tablaestandar img{
    width: 148px;
    height: 98px;
}



.total-pedido ul{
    border: 2px solid #ebebeb;
     background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    padding-left:25px;
    padding-right:25px;
    padding-top:16px;
    padding-bottom: 20px;
    
    
}
.total-pedido ul li{
    list-style: none;
    font-size:16px;
    font-weight: bold;
    color:#252525;
    text-transform: uppercase;
    overflow: hidden;
    
}
.total-pedido ul li.subtotal{
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
}
.total-pedido ul li.subtotal span{
    font-weight: bold;
}
.total-pedido ul li.cart-total{
    padding-top: 10px
}
.total-pedido ul li.cart-total span{
    color:#da910a;
}
.total-pedido ul li{
    color:#29323c;
}
.total-pedido ul li span{
    float:right;
}
.total-pedido .proceed-btn{
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#252525;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
}

.estado-pedido{
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    color:#252525;
    
}
/* ============================FIN TABLA ESTANDAR================================== */



/*===============AGREGAR PRODUCTO================*/
.contenedorproducto{
    width: 100%;
    padding: 15px;
    

}

.formproducto{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
    

    margin-top: 0px;
    padding: 3px;
    border-radius: 20px;
    height: 600px;
    
}

.formproducto h1{
    text-align: center;
    color:  #dcdddf;
}

.contenedorproducto input[type="text"], .contenedorproducto input[type="file"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(247, 229, 229);
    color:   #181818;
    
    
}

.contenedorproducto input[type="text"]::placeholder{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    color:   #181818;
    
}

.contenedorproducto input[type="text"]:focus {
    outline: none;

}
.input-producto{
    margin-bottom: 10px;
    border: 1px solid  #dcdddf;
}
.iconproducto{
    min-width: 50px;
    text-align: center;
    color:#dcdddf;
}

.buttonproducto{
    border: none;
    width: 100%;
    color: rgb(223, 221, 221);
    font-size: 20px;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonproducto:hover{
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}

.formproducto p{
    text-align: center;
    margin-top: 5px;
    color:  rgb(223, 221, 221);
}
.formproducto a{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
    color: rgb(223, 221, 221);
}
.formproducto a:hover{
    color: cadetblue;
}

.formproducto{
    height: 100%;
}


.contenedorproducto label{
    padding-top: 15%;

}

.contenedorproducto select{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(247, 229, 229);
    color:   #181818;
}
.desproducto textarea{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(247, 229, 229);
    color:   #181818;
}
@media(min-width:768px){
    .formproducto{
        margin: auto;
        width: 80%;
        margin-top: 3%;
        margin-bottom: 5%;
       
    }
}


/*================ AGREGAR PRODUCTO===============*/


/*=========================INICIO DETALLE PRODUCTO===================================*/
        /* se usan cards de seccion carrusel */

#iconcart{
   justify-content: center;
}

.linkdetalle{
    display: inline-block;
    font-size:xx-large;
    
    text-decoration: none;
    color:#485563;
    border-radius: 10px;
}

.linkdetalle:hover{
    text-decoration: none;
}

.labelicon{
    font-size: medium;

}

.carddetalle p{
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    font-weight: 600;
    
}

.carddetalle h5{
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    font-weight: 600;
    font-size: x-large;
}


    /* Seccion de reseñas detalle producto*/

.titulores{
    text-align: center;
    margin-top: 20px;
}

.formres h2{
    margin-top: 20px;
    font-family: Helvetica  ;
    font-weight: 700;
}

.contenedorres {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    padding: 10px;
    border-radius: 35px;
}

.contenedorres textarea{
    background: none;
    width: 100%;
    color: #232324 ;
    border: 2px solid #232324;
    padding: 15px;

}


.labelres{
    margin-top: 20px;
    
    font-size: large;
    font-weight: 700;
}


.contenedoropiniones{
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);    
 padding: 10px;
 border-radius: 20px;
 border-bottom: 1px solid whitesmoke;
}

.contenedoropiniones h1{
    text-align: center;
}


.infomovil{

}

.infomovil{
    
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    
    padding-top: 15px;
    
    
}

.infomovil .card{
   
    /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);*/
    color: #232324;
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
}

.infomovil p{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 400;
}
.infomovil a{
    background-color: #304352 ;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 25px;
    color : #d7d2cc;
    text-decoration: none;
}

.infomovil p{
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    font-weight: 600;
    
}

.infomovil h5{
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    font-weight: 600;
    font-size: x-large;
}

@media(min-width:768px){
    .infomovil{
        display: none;
    }
}


/*=========================FIN DETALLE PRODUCTO===================================*/



/* ============================INICIO FOOTER========================================*/

.pie{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    color: #232324;
}

.pie .row  {
    text-align: center;
    margin-top: 0%;
    padding-top: 0;
    font-size: 15px;
}

.piefijo{
    
    top: 100%;
}
/* ============================FIN FOOTER========================================*/